.container {
    background-color: #c00025;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    border: 2px solid darkgrey;

}
.display {
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    font-size: 5.0rem;
  }

.App {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.specBtn {
    height: 50px;
    width: 50px;
    font-size: 1.75rem;
    border-radius: 50%;
    background-color: skyblue;
    color: darkslateblue;
    margin: 5px;
}

.numBtn {
    height: 50px;
    width: 50px;
    font-size: 1.75rem;
    border-radius: 50%;
    background-color: skyblue;
    color: darkslateblue;
    margin: 5px;
}

.opBtn {
    height: 50px;
    width: 50px;
    font-size: 1.75rem;
    border-radius: 50%;
    background-color: skyblue;
    color: darkslateblue;
    margin: 5px;
}